body{
    background-image: url(../Fotos/Renaulblanco.jpg);
    height: 100%;
}
#bienvenida{
    text-align: left;
}
.somos{
    font-family: 'Secular One', sans-serif;
}
.card{
    margin-top: 1rem;
    margin-left: 1.7rem;
    margin-bottom: 1rem;
}
main{
    display: flex;
    flex-wrap: wrap;
}

.card-img-top{
    height: 190px;
}

.card-text{
    height: 50px;
    align-items: center;
}
.card-title{
    height: 50px;
    align-items: center;
}
p{
    margin-top: 0.4rem;
    margin-left: 0.4rem;
}
.Main{
    height: 75% !important;
    margin-top: 13%;
    margin-bottom: 13%;
}

footer{
    text-align: right;
    font-weight: bolder;
}
h2{
    text-align: center;
}